*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gainsboro;
}

header {
    width: 96%;
    height: 100vh;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.titulo {
    width: 100%;
    height: 7%;
    border-bottom: 5px solid blue;
    padding-top: 1%;
}

.container{
    display: flex;
    height: 100%;
    width: 98%;
    gap: 5%;
}

.textos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    gap: 2%;
}

.imagem {
    border-radius: 5px;
    width: 60%;
    height: 70%;
}

.imagem img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 300vh;
    margin: 2%;
    background-color: aqua;
}

.secao1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 2px solid blue;
    padding: 2%;
    gap: 7%;
}

.habilidades{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-evenly;
}

.habilidades div{
    width: 30%;
    height: 30%;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.linguagens, .banco, .git,.microsoft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5%;
}

