*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 96%;
    height: 100vh;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.titulo {
    width: 100%;
    height: 7%;
    border-bottom: 5px solid blue;
    padding-top: 1%;
    font-size: large;
}

.container{
    display: flex;
    height: 100%;
    width: 98%;
    gap: 5%;
}

.textos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    gap: 2%;
}

.imagem {
    border-radius: 5px;
    width: 60%;
    height: 70%;
}

.imagem img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

main{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 260vh;
    margin: 2%;
    background-color: aqua;
}

.secao1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 2px solid blue;
    padding: 2%;
    gap: 7%;
}

.habilidades{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-evenly;
}

.habilidades div{
    width: 30%;
    height: 30%;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.linguagens, .banco, .git,.microsoft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5%;
}

.secao2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 2px solid blue;
    padding: 2%;
    gap: 7%;
}

.repositorios {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

}

.rep1{
    border-right: 2px solid black;
}

.rep1, .rep2 {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rep1 img, .rep2 img{
    height: 40%;
    width: 40%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.saibaMais{
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: 2.5px solid black;
    font-size: large;
}

.saibaMais:hover{
    border-color: #0066cc;
    transform: translateY(-2px);
}

.saibaMais :hover{
    color: #0066cc;
}

.saibaMais a{
    display: flex;
    text-decoration: none;
    font: 500;
    color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.secao3 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-top: 2px solid blue;
    padding: 2%;
    gap: 50px;
  }
  

  .experiencia {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .experiencia h2 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
  }
  
  
  .certificados {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2%;
  }
  
  .links a {
    text-decoration: none;
    color: #333;
    font-size: large;
    font-weight: 500;
  }
  
  .links a:hover {
    color: #0066cc;
  }

.experiencia {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.contato {
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-top: 2px solid blue;
    margin: 2%;
    padding-left: 2%;
    gap: 15px;
  }
  
  .contato h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .contato h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .contato a {
    color: #0066cc;
  }
  
